.myGlass {
  background: rgba(255, 254, 254, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 12%;
}
.myList {
  padding: 5%;
}
.myInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
